<%- include('./partials/header.ejs'); %>
    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      <div id="conversation-list">
        <% users.forEach((user, index) => { %>
          <div class="conversation <%= index === 0 ? 'active' : '' %>">
            <% if (user.avatar) { %>
              <img src="/avatars/<%= user.avatar %>" alt="<%= user.name %>" />
            <% } else { %>
              <img src="/images/user1.png" alt="<%= user.name %>" />
            <% } %>
            <div class="title-text"><%= user.name %></div>
            <div class="created-date"></div>
            <div class="conversation-message"><%= user.email %></div>
          </div>
        <% }); %>
      </div>
      <div id="new-message-container">
        <a href="#" onclick="openInboxModal()">+</a>
      </div>
      <div id="chat-title">
        <span>Sumit</span>
        <img src="./images/trash.png" alt="Delete Conversation" />
      </div>
      <div id="chat-message-list">
        <div class="message-row other-message">
          <div class="message-content">
            <% if (users[0] && users[0].avatar) { %>
              <img src="/avatars/<%= users[0].avatar %>" alt="<%= users[0].name %>" />
            <% } else { %>
              <img src="/images/user1.png" alt="User" />
            <% } %>
            <div class="message-text">Ok then</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">Lorem ipsum dolor sit amet</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <img src="./images/attachment.png" alt="Add Attachment" />
        <input type="text" placeholder="Type a message" />
      </div>
    </div>

    <div class="modal-wrapper" id="new-conversation-modal">
      <div class="modal">
        <a href="#" onclick="closeInboxModal()" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Username" />
            <input type="button" value="Submit" />
          </form>
        </div>
      </div>
    </div>
    <script>
      const inboxModal = document.querySelector("#new-conversation-modal");
      function openInboxModal() {
        inboxModal.style.display = "block";
      }
      function closeInboxModal() {
        inboxModal.style.display = "none";
      }
    </script>
  </body>
</html>
